*~
*.bak
*.orig

debian/files
debian/moka-icon-theme.debhelper.log
debian/moka-icon-theme.postinst.debhelper
debian/moka-icon-theme.postrm.debhelper
debian/moka-icon-theme.prerm.debhelper
debian/moka-icon-theme.substvars
debian/moka-icon-theme

src/OLD

Moka/.icon-theme.cache

generate-symlinks.sh
quick.sh
trim-tray-icons.sh