*~
*.bak
*.orig
*.zip

.gitignore

build-packages.sh
create-tarballs.sh
generate-symlinks.sh
generate-symlinks-hidpi.sh
icon-mapping.sh
quick.sh

autom4te.cache
config.log
config.status
aclocal.m4
missing
install-sh
Makefile.in
Makefile
configure

data
data/
data/*

debian/files
debian/moka-icon-theme.debhelper.log
debian/moka-icon-theme.postinst.debhelper
debian/moka-icon-theme.postrm.debhelper
debian/moka-icon-theme.prerm.debhelper
debian/moka-icon-theme.substvars
debian/moka-icon-theme

data
data/
data/*