*~
*.bak
*.orig
*.gitignore
*.zip
*.sh
*.list
*.tar.gz

debian/files
debian/moka-icon-theme.debhelper.log
debian/moka-icon-theme.postinst.debhelper
debian/moka-icon-theme.postrm.debhelper
debian/moka-icon-theme.prerm.debhelper
debian/moka-icon-theme.substvars
debian/moka-icon-theme

data
data/
data/*

src/OLD
src/TMP
src/WIP