Source: moka-icon-theme
Section: gnome
Priority: optional
Maintainer: Sam Hewitt <hewittsamuel@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.2
Homepage: https://github.com/moka-project/moka-icon-theme


Package: moka-icon-theme
Architecture: all
Depends: ${misc:Depends}
 faba-icon-theme
Description: Moka Icon Theme
 Moka desktop icon theme
 Moka is a stylized Tango-esque Linux desktop icon set. They are designed to be a clear, simple and consistent.
